.c-year-to-date-stats {
  font-size: 1.4em;
  color: $colour-white;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;

  strong {
    color: $colour-primary;
    font-weight: 700;
  }
}
