.c-year-to-date-stats {
  font-size: 2.4em;
  color: $colour-white;
  line-height: 1.5;
  font-weight: 800;

  @include medium {
    font-size: 3.6em;
    line-height: 1.4;
  }

  strong {
    color: $colour-primary;
    font-weight: 700;
  }
}
