.c-label {
  border-radius: 20px;
  font-size: 10px;
  padding: 4px 8px;
  font-weight: bold;
  background: $colour-primary;
  color: $colour-white;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
