.c-sidebar {
  padding: $spacing-xl;
  grid-column-start: 1;
  grid-column-end: 2;
  display: none;

  @include medium {
    display: block;
  }
}

.c-sidebar__nav {
  margin-top: 5rem;
}

.c-sidebar__nav-item {
  text-decoration: none;
  color: $colour-supplementary;
  line-height: 2;
  font-size: 18px;
}

.c-sidebar__nav-item a.active {
  color: $colour-white;
}

.c-sidebar__photo {
  border-radius: 5rem;
  border: 0;
  width: 4rem;
  height: 4rem;
}

.c-sidebar__name {
  margin-bottom: 0;
}

.c-sidebar__location {
  font-size: 1.4rem;
  color: $colour-supplementary;
}
