.c-page-header {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  h1 {
    margin: 0;
  }
}

.c-page-header--center-aligned {
  align-items: center;
  text-align: center;
}
