.c-paginator {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: $spacing-l 0;
  margin-top: $spacing-xl;
  color: $colour-background;
}

.c-paginator__link {
  & .disabled {
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
  }
}
