.c-exporting-loader {
  position: fixed;
  z-index: 9;
  color: $colour-background;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $colour-white;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    margin-top: 7rem;
  }
}
