.c-footer {
  height: 6rem;
  padding: $spacing-xl;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 1.5rem;
  opacity: .5;
}

.c-footer__power-by-strava {
  width: 15rem;
}
