.c-activity {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  color: $colour-text;
  overflow: hidden;
  background: $woodsmoke;
  box-shadow: 0 2px 20px rgba(0,0,0,0.3);
  position: relative;

  & + & {
    margin-top: 2rem;
  }

  @include smallish {
    flex-direction: row;
  }
}

.c-activity__time {
  color: $colour-supplementary;
  font-size: 12px;
  text-transform: uppercase;
}

.c-activity__meta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  justify-content: space-between;

  @include medium {
    padding: 30px;
  }
}

.c-activity-map {
  overflow: hidden;
  display: none;
  flex-shrink: 0;
  width: 100%;
  height: auto;

  @include medium {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-activity-map__message {
  font-size: 1.2rem;
  color: $colour-supplementary;
  opacity: 0.3;
}

.c-activity-map__image {
  transform: scale(1.12);
  width: 100%;

  @include medium {
    width: 200px;
    height: 200px;
  };
}

.c-activity__title {
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 6px;

  a {
    border-bottom: 1px solid lighten($colour-supplementary, 30);
  }
}

.c-activity__header {
  margin-bottom: $spacing-xl;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.c-activity__stats {
  display: flex;
  flex-wrap: wrap;
}

.c-activity__stat {
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  margin-top: $spacing-l;
  margin-right: $spacing-xl;

  @include small {

  };
}

.c-activity__stat-label {
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-bottom: $spacing-s;
  color: transparentize($colour-text, 0.5);
}

.c-activity__stat-value {
  font-size: 2rem;

  @include medium {
    font-size: 1.3rem;
  };
}

.c-activity__stat-value--large {
  font-size: 3.2rem;
}

.c-activity__stat-unit {
  font-size: 1.6rem;
  opacity: 0.5;
  margin-left: $spacing-xs;
}

.c-activity-interactive-map-container {
  position: relative;
  width: 100%;
  height: 45rem;
}

.c-activity-interactive-map {
  position: absolute;
  background-color: $woodsmoke;
  top: 0;
  bottom: 0;
  width: 100%;

  .mapboxgl-popup-content {
    color: $colour-text;
    font-size: 1.3rem;
    background-color: $colour-background;
    padding: $spacing;
    font-family: $default-font-family;
  }

  .mapboxgl-popup-tip {
    border-top-color: $colour-background;
    border-bottom-color: $colour-background;
  }
}

.c-activity-graph {
  padding: $spacing-xl;
  border-radius: 0.5rem;
}

.c-activity-graph__header--supplementary {
  color: rgba(0, 0, 0, 0.5);
}

.c-activity-graph--heartrate {
    background-image: linear-gradient(0deg, $colour-heartrate-base 0%, $colour-heartrate-alt 100%);
}

.c-activity-graph--velocity {
    background-image: linear-gradient(0deg, $colour-velocity-base 0%, $colour-velocity-alt 100%);
}

.c-activity-graph--cadence {
    background-image: linear-gradient(0deg, $colour-cadence-base 0%, $colour-cadence-alt 100%);
}

.c-activity-graph--calories {
    background-image: linear-gradient(0deg, $colour-calories-base 0%, $colour-calories-alt 100%);
}

.c-activity-chart-container {
  height: 40rem;
}

.c-activity__has-chart-icon {
  position: relative;
  border-radius: 50%;
  &:before {
    display: block;
    content: ' ';
    width: 1rem;
    height: 1rem;
  }

  & + & {
    margin-left: $spacing;
  }

  .c-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: $spacing-l;
    background: $colour-background;
    font-size: 1.1rem;
    padding: $spacing;
    white-space: nowrap;
    transition: opacity 0.2s ease-in-out;
  }

  @include hover {
    .c-tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}

.c-activity__has-chart-icon--cadence {
  background-color: $colour-cadence-base
}

.c-activity__has-chart-icon--heartrate {
  background-color: $colour-heartrate-base
}

// Activity Food Cards

.c-activity-food-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $spacing-l;
  grid-row-gap: $spacing-l;

  @include medium {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.c-activity-food-card {
  border-radius: 0.5rem;
  background: $shark;
  height: 10rem;
  overflow: hidden;
  position: relative;

  @include medium {
      height: 30rem;
  }

  @include hover {

    .c-activity-food-card__image {

      @include medium {
        right: -35%;
      }

      right: -5%;
    }
  }

}

.c-activity-food-card__number {
  font-weight: 300;
}

.c-activity-food-card__header {
  font-weight: 300;
  margin-bottom: $spacing;
  margin-top: 0;
}

.c-activity-food-card__image {
  position: absolute;
  width: 20rem;
  height: 20rem;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s ease-in-out;
  filter: drop-shadow(0 0.2rem 0.4rem rgba(0, 0, 0, 0.3));

  @include medium {
    width: 30rem;
    height: 30rem;
    right: -40%;
    transform: translateY(-30%);
  }

}

.c-activity-food-card__image--filter {
  filter: blur(20rem);
  left: -20%;
  width: 50rem;
  height: 50rem;

  @include smallish {
    right: -10%;
  }
}
