.c-activity-summary {

  padding: $spacing-l;
  background: $woodsmoke;
  .c-activity__stat {
    flex-basis: auto;
    margin-right: $spacing-xl;
    margin-top: 0;
  }

  .c-activity__stat-value {
    font-size: 1.6rem;

    @include medium{
      font-size: 2rem;
    }
  }

  .c-activity__stat-value--large {
    @include medium{
      font-size: 3.2rem;
    }
  }
}

.c-activity-summary--average {
  .c-activity__stat {
    flex-basis: auto;
    margin-right: $spacing-xl;
  }
}

.c-activity-summary-header {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin-bottom: $spacing-l;
  opacity: 0.3;
}
