.c-homepage {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;

  @include small {
    grid-template-columns: 1fr;
  }
}

.c-homepage__hero-message {
  display: flex;
  align-items: center;
  z-index: 1;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
}

.c-homepage__hero-image__image {
  position: fixed;
  transform: rotateZ(-20deg) scale(0.6) translateY(-70%);
  transform: 0 0;
  filter: drop-shadow(0 10px 100px rgba(0, 0, 0, 1));

  @include small {
    transform: rotateZ(-20deg) scale(0.6) translateY(-110%) translateX(-20%);
    opacity: 0.2;
  }
}

.c-homepage__hero-header {
  font-size: 7rem;
  letter-spacing: -2px;
  margin-bottom: $spacing-s;
}

.c-homepage__hero-subheader {
  white-space: nowrap;
}
