.c-athlete-profile {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-athlete-profile__image {
  border-radius: 10rem;
  width: 5rem;
  height: 5rem;
  margin-bottom: $spacing;
}

.c-athlete-profile__name {
  margin: 0;
}
