.c-btn {
 font-size: 1.1rem;
 line-height: 1.2;
 text-transform: uppercase;
 padding: 0.6rem 0.8rem;
 display: inline-block;
 font-weight: 600;
 letter-spacing: .05rem;
 border-radius: .2rem;
 background-color: $colour-white;
 color: $colour-background;
 box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);

 &:disabled {
   opacity: 0.3;
   cursor: not-allowed !important;
 }

 @include hover {
    background-color: darken($colour-white, 10);
 }
}


.c-btn--primary {
  background: $colour-primary;

  @include hover {
    background-color: darken($colour-primary, 5);
  }

}

.c-btn--large {
  font-size: 4rem;
}

.c-btn--publish,
.c-btn--favourite {

  .c-icon {
    transition: transform 0.1s ease-in;
    margin-right: 0.1rem;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }

  @include hover {
    background-color: darken($colour-white, 10);
  }

  &.is-public,
  &.is-favourite {
    background-color: $colour-primary;
    color: $colour-text;
    @include hover {
      background-color: darken($colour-primary, 5);
    }
  }

}

.c-btn--transparent {
  background: transparent;
  color: $colour-text;
  box-shadow: none;

  @include hover {
    background-color: rgba(0,0,0,0.1);
  }

  .c-icon {
    transition: transform 0.1s ease-in;
    margin-right: 0.1rem;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }

}
