.c-navigation {
  padding: $spacing-l $spacing-xl;
  height: 5rem;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  z-index: 1;
  align-items: center;
}

.c-navigation__nav {
  margin-top: 0;
  display: flex;
  align-items: baseline;
}

.c-navigation__nav-item {
  margin-right: $spacing-xl;
  color: $colour-supplementary;
}

.c-navigation__nav-item--logout {
  position: absolute;
  right: 0;

  @include medium {
    position: inherit;
    right: inherit;
  }
}

.c-navigation__nav-item a.active {
  color: $colour-white;
}

.c-navigation__profile-image,
.c-navigation__profile {
  position: relative;
  background-color: #000;
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem;
}

.c-navigation__profile-name {
  font-size: 1.6rem;
}

.c-navigation__profile-image {
}

.c-navigation__dropdown {
  box-shadow: 0 2px 10px rgba(0,0,0,0.9);
  border-radius: .5rem;
  width: 25rem;
  background: $colour-white;
  color: $colour-background;
  position: absolute;
  right: 0;
  top: 4.5rem;
  transition: all 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  &.show {
    opacity: 1;
    top: 4rem;
    visibility: visible;
  }
}

.c-navigation__dropdown-link {
  cursor: default;
  &:hover {
    background: $colour-primary;
    color: $colour-white;
  }
}

.c-navigation__dropdown-link,
.c-navigation__dropdown-info {
  padding: $spacing-l;
}

.c-navigation__dropdown-name {
  font-weight: bold;
  margin-bottom: $spacing-s;
}

.c-navigation__dropdown-location {
  font-size: 1.3rem;
  margin: 0;
  opacity: 0.5;
}

.c-navigation__logo {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-right: $spacing-xl;
}
