.c-footer {
  height: 6rem;
  padding: $spacing-xl;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.3rem;
  opacity: .5;
}

.c-footer__power-by-strava {
  width: 10rem;

}

.c-footer__credits {
  font-size: 1.1rem;
}
