.o-activity-detail {
  .c-activity-map {
    overflow: hidden;
    width: 100%;
    display: block;
    height: auto;
  }

  .c-activity-map__image {
    border-radius: 0;
    height: auto;
    width: 100%;
    transform: scale(1.2);
  }
}

.o-activity-detail-header {
  h2 {
    margin-bottom: $spacing;
  }

  margin-bottom: $spacing-xl;
}
