.o-transition-enter {
  opacity: 0.01;
}

.o-transition-enter.o-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.o-transition-leave {
  opacity: 1;
}

.o-transition-leave.o-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.o-transition-appear {
  opacity: 0.01;
}

.o-transition-appear.o-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
