.o-activity-detail {
  .c-activity-map {
    overflow: hidden;
    width: 100%;
    display: block;
    height: auto;
  }

  .c-activity-map__image {
    border-radius: 0;
    height: auto;
    width: 100%;
    transform: scale(1.2);
  }
}

.o-activity-detail-header {
  margin-bottom: $spacing-xl;
}


.o-activity-detail-name {
  font-size: 2.4rem;
  margin-bottom: $spacing;
}

.o-activity-detail__summary {
  border-radius: 0.5rem;
  overflow: hidden;
}
