// Base Names
$cape-cod: #464d4e;
$dove-gray: #6b6969;
$dodger-blue: #008cff;
$mystic: #E4E9EE;
$white: #FFFFFF;
$gunsmoke: #7e898a;
$alabaster: #FAFAFA;

$outer-space: #323940;
$shark: #1F2428;

// Interface Colour
$colour-text: $white;
$colour-primary: $dodger-blue;
$colour-framing: $mystic;
$colour-white: $white;
$colour-supplementary: $gunsmoke;
$colour-background: $outer-space;

// Interface Colour (Dark Theme)
// $colour-text: $cape-cod;
// $colour-primary: $dodger-blue;
// $colour-framing: $mystic;
// $colour-white: $white;
// $colour-supplementary: $gunsmoke;
// $colour-background: $outer-space;
