// ----------------------------------------------------------------------------
// Breakpoints and simple media query mixins
// ----------------------------------------------------------------------------

$breakpoint-smallish: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1280px;
$breakpoint-xxlarge: 1600px;
$breakpoint-xxxlarge: 1920px;

@mixin small {
    @media only screen and (max-width: $breakpoint-smallish - 1px) {
        @content;
    }
}

@mixin smallish {
    @media only screen and (min-width: $breakpoint-smallish) {
        @content;
    }
}

@mixin medium {
    @media only screen and (min-width: $breakpoint-medium) {
        @content;
    }
}

@mixin up-to-medium {
    @media only screen and (max-width: $breakpoint-medium - 1px) {
        @content;
    }
}

@mixin up-to-large {
    @media only screen and (max-width: $breakpoint-large - 1px) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: $breakpoint-large) {
        @content;
    }
}

@mixin xlarge {
    @media only screen and (min-width: $breakpoint-xlarge) {
        @content;
    }
}

@mixin xxlarge {
    @media only screen and (min-width: $breakpoint-xxlarge) {
        @content;
    }
}

@mixin xxxlarge {
    @media only screen and (min-width: $breakpoint-xxxlarge) {
        @content;
    }
}

@mixin navigation-breakpoint {
    @include medium {
        @content;
    }
}
