// Base Names
$cape-cod: #464d4e;
$dove-gray: #6b6969;
$dodger-blue: #008cff;
$mystic: #E4E9EE;
$white: #FFFFFF;
$gunsmoke: #7e898a;
$alabaster: #FAFAFA;
$red-orange: #F7392E;
$persimmon: #F9674E;
$royal-purple: #733d9d;
$buttercup: #ffa800;

$outer-space: #323940;
$shark: #1F2428;
$woodsmoke: #101010;

// Interface Colour
$colour-text: $shark;
$colour-primary: $dodger-blue;
$colour-framing: $mystic;
$colour-white: $white;
$colour-supplementary: $gunsmoke;
$colour-background: $alabaster;

$colour-heartrate-base: $red-orange;
$colour-heartrate-alt: $persimmon;

$colour-velocity-base: $outer-space;
$colour-velocity-alt: lighten($colour-velocity-base, 4);

$colour-cadence-base: $royal-purple;
$colour-cadence-alt: lighten($colour-cadence-base, 4);

$colour-calories-base: $outer-space;
$colour-calories-alt: lighten($colour-calories-base, 4);

// Interface Colour (Dark Theme)
// $colour-text: $cape-cod;
// $colour-primary: $dodger-blue;
// $colour-framing: $mystic;
// $colour-white: $white;
// $colour-supplementary: $gunsmoke;
// $colour-background: $outer-space;
