.t-top-spacing {
  margin-top: $spacing !important;
}

.t-top-spacing--l {
  margin-top: $spacing-l !important;
}

.t-top-spacing--xl {
  margin-top: $spacing-xl !important;
}

.t-top-spacing--xxl {
  margin-top: $spacing-xxl !important;
}

.t-top-spacing--s {
  margin-top: $spacing-s !important;
}

.t-top-spacing--xs {
  margin-top: $spacing-xs !important;
}

.t-top-spacing--xxs {
  margin-top: $spacing-xxs !important;
}

.t-bottom-spacing {
  margin-bottom: $spacing !important;
}

.t-bottom-spacing--l {
  margin-bottom: $spacing-l !important;
}

.t-bottom-spacing--xl {
  margin-bottom: $spacing-xl !important;
}

.t-bottom-spacing--xxl {
  margin-bottom: $spacing-xxl !important;
}

.t-bottom-spacing--s {
  margin-bottom: $spacing-s !important;
}

.t-bottom-spacing--xs {
  margin-bottom: $spacing-xs !important;
}

.t-bottom-spacing--xxs {
  margin-bottom: $spacing-xxs !important;
}

.t-left-spacing {
  margin-left: $spacing !important;
}

.t-left-spacing--l {
  margin-left: $spacing-l !important;
}

.t-left-spacing--xl {
  margin-left: $spacing-xl !important;
}

.t-left-spacing--xxl {
  margin-left: $spacing-xxl !important;
}

.t-left-spacing--s {
  margin-left: $spacing-s !important;
}

.t-left-spacing--xs {
  margin-left: $spacing-xs !important;
}

.t-left-spacing--xxs {
  margin-left: $spacing-xxs !important;
}

.t-right-spacing {
  margin-right: $spacing !important;
}

.t-right-spacing--l {
  margin-right: $spacing-l !important;
}

.t-right-spacing--xl {
  margin-right: $spacing-xl !important;
}

.t-right-spacing--xxl {
  margin-right: $spacing-xxl !important;
}

.t-right-spacing--s {
  margin-right: $spacing-s !important;
}

.t-right-spacing--xs {
  margin-right: $spacing-xs !important;
}

.t-right-spacing--xxs {
  margin-right: $spacing-xxs !important;
}
