.App {
  text-align: left;
  padding: 4rem;
}

.App-intro {
  font-size: large;
}

.club-image {
  width: 3rem;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  line-height: 2;
}

.c-top-nav {
  display: flex;
}

.c-top-nav__link {
  margin-right: 1rem;
}

.o-section {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
