.t-top-spacing {
  margin-top: 1rem !important; }

.t-top-spacing--l {
  margin-top: 2rem !important; }

.t-top-spacing--xl {
  margin-top: 3rem !important; }

.t-top-spacing--xxl {
  margin-top: 4rem !important; }

.t-top-spacing--s {
  margin-top: 0.5rem !important; }

.t-top-spacing--xs {
  margin-top: 0.33333rem !important; }

.t-top-spacing--xxs {
  margin-top: 0.25rem !important; }

.t-bottom-spacing {
  margin-bottom: 1rem !important; }

.t-bottom-spacing--l {
  margin-bottom: 2rem !important; }

.t-bottom-spacing--xl {
  margin-bottom: 3rem !important; }

.t-bottom-spacing--xxl {
  margin-bottom: 4rem !important; }

.t-bottom-spacing--s {
  margin-bottom: 0.5rem !important; }

.t-bottom-spacing--xs {
  margin-bottom: 0.33333rem !important; }

.t-bottom-spacing--xxs {
  margin-bottom: 0.25rem !important; }

.t-left-spacing {
  margin-left: 1rem !important; }

.t-left-spacing--l {
  margin-left: 2rem !important; }

.t-left-spacing--xl {
  margin-left: 3rem !important; }

.t-left-spacing--xxl {
  margin-left: 4rem !important; }

.t-left-spacing--s {
  margin-left: 0.5rem !important; }

.t-left-spacing--xs {
  margin-left: 0.33333rem !important; }

.t-left-spacing--xxs {
  margin-left: 0.25rem !important; }

.t-right-spacing {
  margin-right: 1rem !important; }

.t-right-spacing--l {
  margin-right: 2rem !important; }

.t-right-spacing--xl {
  margin-right: 3rem !important; }

.t-right-spacing--xxl {
  margin-right: 4rem !important; }

.t-right-spacing--s {
  margin-right: 0.5rem !important; }

.t-right-spacing--xs {
  margin-right: 0.33333rem !important; }

.t-right-spacing--xxs {
  margin-right: 0.25rem !important; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    opacity: 0.8; }

#root {
  width: 100%;
  height: 100%; }

html {
  font-size: 8px; }
  @media only screen and (min-width: 480px) {
    html {
      font-size: 10px; } }

body,
html {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #1F2428;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-weight: 800;
  font-size: 4.8rem; }

h2 {
  font-weight: 800;
  font-size: 3.6rem; }

h3 {
  font-weight: normal;
  font-size: 2.0rem; }

h1, h2, h3, p, span {
  margin-top: 0;
  -webkit-font-smoothing: antialiased; }

p {
  font-size: 2rem;
  font-weight: 400; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  border: 0;
  outline: 0; }

.o-content {
  padding: 3rem;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 5; }

.o-wrapper {
  max-width: 960px;
  margin: 0 auto; }

.o-app {
  max-width: 960px;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem auto 6rem; }

.o-spacing--bottom {
  margin-bottom: 2rem; }

.o-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.o-flex__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.o-flex-align--start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.o-flex-align--end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.o-flex-align--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.o-flex-justify--start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.o-flex-justify--end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.o-flex-justify--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.o-flex-justify--space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.o-flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.o-flex--nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.o-transition-enter {
  opacity: 0.01; }

.o-transition-enter.o-transition-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in; }

.o-transition-leave {
  opacity: 1; }

.o-transition-leave.o-transition-leave-active {
  opacity: 0.01;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in; }

.o-transition-appear {
  opacity: 0.01; }

.o-transition-appear.o-transition-appear-active {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in; }

.o-activity-detail .c-activity-map {
  overflow: hidden;
  width: 100%;
  display: block;
  height: auto; }

.o-activity-detail .c-activity-map__image {
  border-radius: 0;
  height: auto;
  width: 100%;
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.o-activity-detail-header {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem; }

.o-activity-detail-name {
  font-size: 3.6rem;
  font-weight: 800;
  margin-bottom: 1rem; }

.o-activity-detail__summary {
  border-radius: 0.5rem;
  overflow: hidden; }

.c-navigation {
  padding: 2rem 3rem;
  height: 5rem;
  grid-column-start: 1;
  grid-column-end: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.6rem;
  z-index: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.c-navigation__nav {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.c-navigation__nav-item {
  margin-right: 3rem;
  color: #7e898a; }

.c-navigation__nav-item--logout {
  position: absolute;
  right: 0; }
  @media only screen and (min-width: 768px) {
    .c-navigation__nav-item--logout {
      position: inherit;
      right: inherit; } }

.c-navigation__nav-item a.active {
  color: #FFFFFF; }

.c-navigation__profile-image,
.c-navigation__profile {
  position: relative;
  background-color: #000;
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem; }

.c-navigation__profile-name {
  font-size: 1.6rem; }

.c-navigation__dropdown {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
  width: 25rem;
  background: #101010;
  position: absolute;
  right: 0;
  top: 4.5rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0; }
  .c-navigation__dropdown.show {
    opacity: 1;
    top: 5rem;
    visibility: visible; }

.c-navigation__dropdown-link:hover {
  background: #008cff; }

.c-navigation__dropdown-link,
.c-navigation__dropdown-info {
  padding: 2rem; }

.c-navigation__dropdown-name {
  font-size: 1.6rem;
  margin-bottom: 1rem; }

.c-navigation__dropdown-location {
  font-size: 1.3rem;
  margin: 0;
  opacity: 0.5; }

.c-navigation__logo {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-right: 3rem; }

.c-activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 0.5rem;
  color: #FFFFFF;
  overflow: hidden;
  background: #101010;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  position: relative; }
  .c-activity + .c-activity {
    margin-top: 2rem; }
  @media only screen and (min-width: 480px) {
    .c-activity {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.c-activity__time {
  color: #7e898a;
  font-size: 12px;
  text-transform: uppercase; }

.c-activity__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (min-width: 768px) {
    .c-activity__meta {
      padding: 30px; } }

.c-activity-map {
  overflow: hidden;
  display: none;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: auto; }
  @media only screen and (min-width: 768px) {
    .c-activity-map {
      width: 200px;
      height: 200px;
      display: block; } }

.c-activity-map__image {
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .c-activity-map__image {
      width: 200px;
      height: 200px; } }

.c-activity__title {
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 6px; }
  .c-activity__title a {
    border-bottom: 1px solid #ced2d3; }

.c-activity__header {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.c-activity__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.c-activity__stat {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 2rem;
  margin-right: 3rem; }

.c-activity__stat-label {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.5); }

.c-activity__stat-value {
  font-size: 2rem; }
  @media only screen and (min-width: 768px) {
    .c-activity__stat-value {
      font-size: 1.3rem; } }

.c-activity__stat-value--large {
  font-size: 3.2rem; }

.c-activity__stat-unit {
  font-size: 1.1rem;
  opacity: 0.5;
  margin-left: 0.33333rem; }

.c-activity-interactive-map-container {
  position: relative;
  width: 100%;
  height: 45rem; }

.c-activity-interactive-map {
  position: absolute;
  background-color: #101010;
  top: 0;
  bottom: 0;
  width: 100%; }
  .c-activity-interactive-map .mapboxgl-popup-content {
    color: #FFFFFF;
    font-size: 1.3rem;
    background-color: #1F2428;
    padding: 1rem;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
  .c-activity-interactive-map .mapboxgl-popup-tip {
    border-top-color: #1F2428;
    border-bottom-color: #1F2428; }

.c-activity-graph {
  padding: 3rem;
  border-radius: 0.5rem; }

.c-activity-graph__header--supplementary {
  color: rgba(0, 0, 0, 0.3); }

.c-activity-graph--heartrate {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F7392E), to(#F9674E));
  background-image: linear-gradient(0deg, #F7392E 0%, #F9674E 100%); }

.c-activity-graph--velocity {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#323940), to(#3b434b));
  background-image: linear-gradient(0deg, #323940 0%, #3b434b 100%); }

.c-activity-graph--cadence {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#733d9d), to(#7e43ac));
  background-image: linear-gradient(0deg, #733d9d 0%, #7e43ac 100%); }

.c-activity-chart-container {
  height: 30rem; }

.c-activity__has-chart-icon {
  position: relative;
  border-radius: 50%; }
  .c-activity__has-chart-icon:before {
    display: block;
    content: ' ';
    width: 1rem;
    height: 1rem; }
  .c-activity__has-chart-icon + .c-activity__has-chart-icon {
    margin-left: 1rem; }
  .c-activity__has-chart-icon .c-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 2rem;
    background: #1F2428;
    font-size: 1.1rem;
    padding: 1rem;
    white-space: nowrap;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
  .no-touchevents .c-activity__has-chart-icon:hover .c-tooltip {
    opacity: 1;
    visibility: visible; }

.c-activity__has-chart-icon--cadence {
  background-color: #733d9d; }

.c-activity__has-chart-icon--heartrate {
  background-color: #F7392E; }

.c-label {
  border-radius: 20px;
  font-size: 10px;
  color: #7e898a;
  text-transform: uppercase;
  letter-spacing: 0.6px; }

.c-link {
  text-decoration: underline; }

.c-year-to-date-stats {
  font-size: 2.4em;
  color: #FFFFFF;
  line-height: 1.5;
  font-weight: 800; }
  @media only screen and (min-width: 768px) {
    .c-year-to-date-stats {
      font-size: 3.6em;
      line-height: 1.4; } }
  .c-year-to-date-stats strong {
    color: #008cff;
    font-weight: 700; }

.c-btn {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 1.2rem 2rem;
  display: inline-block;
  font-weight: 600;
  letter-spacing: .05rem;
  border-radius: .2rem; }
  .c-btn:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.c-btn--primary {
  background: #008cff; }
  .c-btn--primary:hover {
    background-color: #007ee6; }

.c-btn--large {
  font-size: 4rem; }

.c-login {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.c-loading_spinner-wrap {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.c-loading_spinner {
  display: block;
  margin: 0 auto;
  fill: #FFFFFF; }
  .c-loading_spinner circle {
    -webkit-animation-name: upAndDown;
    animation-name: upAndDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(0.05, 0.2, 0.35, 1);
    animation-timing-function: cubic-bezier(0.05, 0.2, 0.35, 1);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
    .c-loading_spinner circle:nth-child(2) {
      -webkit-animation-delay: .18s;
      animation-delay: .18s; }
    .c-loading_spinner circle:nth-child(3) {
      -webkit-animation-delay: .36s;
      animation-delay: .36s; }

@-webkit-keyframes upAndDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  75% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes upAndDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  75% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.c-activity-summary {
  padding: 2rem;
  background: #101010; }
  .c-activity-summary .c-activity__stat {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-right: 3rem;
    margin-top: 0; }
  .c-activity-summary .c-activity__stat-value {
    font-size: 1.6rem; }
    @media only screen and (min-width: 768px) {
      .c-activity-summary .c-activity__stat-value {
        font-size: 2rem; } }
  @media only screen and (min-width: 768px) {
    .c-activity-summary .c-activity__stat-value--large {
      font-size: 3.2rem; } }

.c-activity-summary--average .c-activity__stat {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  margin-right: 3rem; }

.c-activity-summary-header {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  opacity: 0.3; }

.c-paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 0;
  margin-top: 3rem; }

.c-paginator__link .disabled {
  opacity: 0.2;
  cursor: not-allowed;
  pointer-events: none; }

.c-homepage {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%; }
  @media only screen and (max-width: 479px) {
    .c-homepage {
      grid-template-columns: 1fr; } }

.c-homepage__hero-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5)); }

.c-homepage__hero-image__image {
  position: fixed;
  -webkit-transform: rotateZ(-20deg) scale(0.6) translateY(-70%);
  transform: rotateZ(-20deg) scale(0.6) translateY(-70%);
  -webkit-transform: 0 0;
  transform: 0 0;
  -webkit-filter: drop-shadow(0 10px 100px black);
  filter: drop-shadow(0 10px 100px black); }
  @media only screen and (max-width: 479px) {
    .c-homepage__hero-image__image {
      -webkit-transform: rotateZ(-20deg) scale(0.6) translateY(-110%) translateX(-20%);
      transform: rotateZ(-20deg) scale(0.6) translateY(-110%) translateX(-20%);
      opacity: 0.2; } }

.c-homepage__hero-header {
  font-size: 7rem;
  letter-spacing: -2px;
  margin-bottom: 0.5rem; }

.c-homepage__hero-subheader {
  white-space: nowrap; }

.c-footer {
  height: 6rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.3rem;
  opacity: .5; }

.c-footer__power-by-strava {
  width: 15rem; }
